html, body {
  height: 100vh;      
  margin: 0;          
}

#root {
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;       
}

nav {
  position: sticky;
  top: 0;
  width: 100vw;
}

footer {
  width: 100vw;
}